From: Lizzy Fleckenstein <eliasfleckenstein@web.de>
Subject: init/Kconfig: fix typo (usafe -> unsafe)
Date: Mon, 9 Jan 2023 21:18:37 +0100

Fix the help text for the PRINTK_SAFE_LOG_BUF_SHIFT setting.

Link: https://lkml.kernel.org/r/20230109201837.23873-1-eliasfleckenstein@web.de
Signed-off-by: Lizzy Fleckenstein <eliasfleckenstein@web.de>
Reviewed-by: Nick Desaulniers <ndesaulniers@google.com>
Cc: Masahiro Yamada <masahiroy@kernel.org>
